[submodule "pathogen"]
	path = pathogen
	url = http://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
	ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
	ignore = untracked
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
	ignore = untracked
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
	ignore = untracked
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = untracked
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
	ignore = untracked
[submodule "bundle/buffet"]
	path = bundle/buffet
	url = git://github.com/vim-scripts/buffet.vim.git
	ignore = untracked
[submodule "bundle/omnicppcomplete"]
	path = bundle/omnicppcomplete
	url = git@github.com:mschinz/omnicppcomplete.git
	ignore = untracked
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = git://github.com/Townk/vim-autoclose.git
	ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
  	ignore = untracked
[submodule "bundle/ps1-syntax"]
	path = bundle/ps1-syntax
	url = https://github.com/PProvost/vim-ps1.git
	ignore = untracked
